<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sample Skeleton</title>
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!--    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>

  <style>
    .bg-black-alt  {
      background:#191919;
    }
    .text-black-alt  {
      color:#191919;
    }
    .border-black-alt {
      border-color: #191919;
    }
  </style>
      <script src="https://cdn.tailwindcss.com"></script>
<!--  <script src="/js/tailwind_cdn.js"></script>-->

</head>

<body class="font-sans leading-normal tracking-normal">

<div class="flex items-stretch bg-gray-300">
  <div class="basis-1/6 text-gray-darker h-screen text-center bg-blue-100 z-10">
    Sidebar
  </div>

  <div class="flex-1 text-gray-darker text-center bg-indigo-700">
    <div class="text-gray-darker text-center bg-red-100 px-4 py-2 m-2">
      Navbar
    </div>

    <div class="text-gray-darker text-center bg-yellow-100 px-4 py-2 m-2">
      Content
    </div>

    <div class="text-gray-darker text-center bg-green-100 px-4 py-2 m-2">
      Footer
    </div>
  </div>
</div>

</body>

</html>

